body {
    background-image: linear-gradient(#cef1f0, rgb(187, 214, 241));
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.ui.menu{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    background:transparent;
}

/* NavBar Styling */
.ui.menu:first-child {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    background:transparent; 
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    padding-top:30px;
    text-align: center;
    padding: 50px;
    box-shadow: 0;
    margin: 0;
    background-color: transparent;
    border: rgb(92, 92, 221) double 18px;
    border-radius: 15px;
    font-family: 'Indie Flower', cursive;
}

.ui.form.field.field input:-webkit-autofill {
    font-family: 'Indie Flower', cursive;
    border-radius: 50px;
}

.ui.message{
    background: bottom;
    background-color:lightgreen;
    opacity: 1;
    border-radius: 60px;
    border: solid 2px white;
}

.ui.segment{
    background: bottom;
    background-color:rgb(224, 245, 104);
    opacity: 0.75;
    border-radius: 45px;
    border: solid 2px white;
}

/* UserForm styling */
.form-container{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

/* UserForm alert message */
.ui.alertMssg {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.homecard {
    margin-top:10px;
    min-height: 45px;
}

.t-card {
    margin: 20px;
}
  
.t-card-image {
    border-radius: 10px;
    width: 480px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px #ccc;
    border: #4dfd4d double 18px;
    border-radius: 15px;
    margin-left:35px;
    margin-right:40px;
    margin-bottom:50px;
}

.t-card-image:hover {
    border-radius: 10px;
    width: 480px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px #ccc;
    border:#8673f5 double 18px;
    border-radius: 15px;
}


#tsparticles {
    position: fixed;
    height: 105vh;
    width: 110vw;
    z-index: -3;
}

#font-user {
    margin-top:25px;
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    font-weight: 900;
    color: coral;
}

#subtitle{
    font-size: 32px;
    color: blue;
}

#font-user ::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

#font-pg1 {
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    font-weight: 900;
    color: rgb(248, 66, 105);
}

#font-404 {
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    font-weight: 900;
    color: rgb(59, 10, 172);
}

#font-404 ::first-letter {
    font-size: 200%;
    color: #d41021;
}

#subtitle1{
    font-size: 32px;
    color: rgb(76, 76, 209);
}

   #font-pg1 ::first-letter {
    font-size: 200%;
    color: #06ad1c;
  }
  
  #imglst{
    height:150px;
    width: 200px;
    float:left;
    margin-right:15px;
    border: solid 1px white;
    border-radius: 100%;
  }
  #head{
    padding: 10px;
  }
  #subtitle2{
    font-size: 32px;
    color: rgb(32, 105, 3);
}
#font-pg2 {
  font-family: 'Indie Flower', cursive;
  font-size:80px;
  font-weight: 900;
  color: rgb(91, 81, 236);
  margin-bottom: 35px;
}
#font-pg2 ::first-letter {
 font-size: 200%;
 color: yellow;
}
#togo{
  font-size: 45px;
  margin-left:10%;
  margin-top:40px;
  color:purple;

}
#togo ::first-letter {
  font-size: 200%;
  color: rgb(50, 150, 20);
 }
 #togo1{
  font-size: 45px;
  margin-left:10%;
  margin-top:40px;
  color:rgb(50, 150, 20);

}
#togo1 ::first-letter {
  font-size: 200%;
  color: purple;
 }

#flatxl{
  background-color: purple;
      color: white;
      padding: 0.5rem 1rem;
      margin: 10px 150px;
      font-size: 1.5rem;
      border: white;
      border-radius: 20px;
      font-family: 'Indie Flower', cursive;
}

#placesearch{
  /* float:left; */
  width: 85%;
  margin-right:10%;
  /* width:30%; */
  margin-left:7%;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px #ccc;
  border:#8673f5 double 18px;
  border-radius: 15px;

}

#label{
  font-size: 22px;
  color: rgb(40, 122, 16);
  margin-left:10%;
  margin-top:40px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:10px;
}
#label::first-letter {
  font-size: 200%;
  color: rgb(255, 123, 0);
 }
 #label2{
  font-size: 22px;
  color: rgb(255, 123, 0);
  margin-left:10%;
  margin-top:40px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:10px;
}
#label2::first-letter {
  font-size: 200%;
  color:  rgb(40, 122, 16);
 }

 #formcontrol{
   color:purple;
   font-family: 'Indie Flower', cursive;
   font-size:18px;
   font-weight: bold;
   border:solid hotpink;
   border-radius: 50px;
   background-color: lightgreen;

 }
 #option{
   border-radius: 50px;
 }
 #results{
  /* float:left; */
  /* margin-left:60%; */
  /* margin-bottom:10%; */
  /* width:40%; */
  width:85%;
  margin-left:7%;
  margin-top: 50px;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px #ccc;
  border:yellow double 18px;
  border-radius: 15px;


}

#results1{

  width:90%;
  margin-left:7%;
  margin-top: 130px;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px #ccc;
  border:rgb(16, 146, 38) double 18px;
  border-radius: 15px;


}

#size{
  width:99%;
}
#resultitem{
 
  border-bottom: dashed yellow 5px;
  padding-bottom:10px;
}
#resultitem1{
 
  border-bottom: dashed rgb(16, 146, 38) 5px;
  padding-bottom:10px;
}
#flatxl1{
  background-color: purple;
      color: white;
      padding: 0.5rem 1rem;
      margin: 10px 10px;
      font-size: 1.5rem;
      border: white;
      border-radius: 20px;
      font-family: 'Indie Flower', cursive;
}
#flatxl2{
 
  background-color: purple;
      color: white;
      padding: 0.5rem 1rem;
      margin: 10px 10px;
      font-size: 1.5rem;
      border: white;
      border-radius: 20px;
      font-family: 'Indie Flower', cursive;
}
#listitem {
  font-family: 'Indie Flower', cursive;
  font-size:19px;
  color:rgb(55, 1, 180);
  margin-left:15px;
  text-align: left;
}
#listitem1 {
  font-family: 'Indie Flower', cursive;
  font-size:19px;
 text-decoration: underline;
  color:rgb(4, 161, 140);
  padding-right:30px;
}
#homecardtitle{
  padding-top: 35px;
  font-family: 'Indie Flower', cursive;
  font-size:40px;
 text-align: center;
  color:rgb(253, 123, 1);
  padding-right:30px;
  margin-bottom: 0px;
  
}
#homecardtitle ::first-letter{
  font-size: 200%;
  color:  rgb(2, 196, 255);
  
}
#car{
  margin: 0 auto;
  width: 600px;
  height: 400px;
  border:yellow double 18px;
  border-radius: 15px;
  
}
#car1{
  margin: 0 auto;
  width: 600px;
  height: 400px;
  
  
}
#t-card-image {
  border-radius: 10px;
  width: 45%;
  height: 500px;
  border: #4dfd4d double 18px;
  border-radius: 15px;
  margin-left:35px;
  margin-right:40px;
  margin-bottom:50px;
  
  
}
#logo{
  height:120px;
  width:120px;
}
.carousel-inner{
  width:560px;
  height:315px;
}

#carname{
  padding-top: 35px;
  font-family: 'Indie Flower', cursive;
  font-size:40px;
 text-align: center;
  color:rgb(2, 196, 255);
  padding-right:30px;
  margin-bottom: 0px;
  
}
#carname ::first-letter{
  font-size: 200%;
  color: rgb(253, 123, 1); }

   #events{
     margin: 0 auto;
  width:40%;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px #ccc;
  border:rgb(64, 8, 218) double 18px;
  border-radius: 15px;
  z-index: +1;
}
#imgplace{
 position: relative;
 left:40%;
 margin-right:5px;

}
 #nav{
   border:none;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
   display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
 }
#item1{
 
  font-family: 'Indie Flower', cursive;
    font-weight: bold;
  display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
  margin:20px;
  padding:10px;
  color:rgb(207, 40, 157);
  border: dotted 7px rgb(37, 119, 241);
  border-radius: 60%;
  align-content: center;
}

#item2{
  
  font-family: 'Indie Flower', cursive;
    font-weight: bold;
  display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
  margin:20px;
  padding:10px;
  color:green;
  border: dotted 7px yellow;
  border-radius: 60%;
}
#item3{
 
  font-family: 'Indie Flower', cursive;
    font-weight: bold;
  display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
  margin:20px;
  padding:10px;
  color:purple;
  border: dotted 7px orange;
  border-radius: 60%;
}
#item4{
  
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
  margin:20px;
  padding:10px;
  color:blue;
  border: dotted 7px red;
  border-radius: 60%;
}
#item5{
  
  font-family: 'Indie Flower', cursive;
    font-weight: bold;
  display: inline-flex;
   margin-top:15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:28px;
  
  margin:20px;
  padding:10px;
  color:rgb(99, 163, 4);
  border: dotted 7px cornflowerblue;
  border-radius: 60%;
}
#right{
  border:none;
  font-family: 'Indie Flower', cursive;
    font-weight: bold;
  float:right;
  
}

#flatxl3{
  background-color: rgb(245, 31, 42);
      color: white;
      padding: 0.5rem 1rem;
      margin: 10px 10px;
      font-size: 1.5rem;
      border: white;
      border-radius: 20px;
      font-family: 'Indie Flower', cursive;
}
#flatxl4{
  background-color: rgb(71, 5, 255);
      color: white;
      padding: 0.5rem 1rem;
      margin: 10px 10px;
      font-size: 1.5rem;
      border: white;
      border-radius: 20px;
      font-family: 'Indie Flower', cursive;
}

#login{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: blue;
}
#login2{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: blue;
  font-size:18px;
}
#login1{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size:16px;
  color: rgb(245, 31, 42);
}
#input{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  border-radius: 50px;
}
#animated{
 
  background: transparent;
  

}

.hidden {
  
  color:red;
  border: 2px solid red;
  border-radius: 80px;
  padding: 15px;
}

#footer {
  color: rgb(84, 3, 119);
  margin-top: 10%;
  padding-top:0px;
  padding-bottom: 10px;
  /* border: dashed 3px  darkviolet;
  border-radius: 10px; */
  font-size: 18px;
}

#imgplace1 {
  float:left;
  margin-bottom: 5px;
}