body {
    background-image: linear-gradient(#cef1f0, rgb(187, 214, 241));
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;

}


/* NavBar Styling */
.ui.menu:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    text-align: center;
    padding: 50px;
    box-shadow: 0;
    margin: 0;
    background-color: transparent;
    border: violet double 18px;
    border-radius: 15px;
    font-family: 'Indie Flower', cursive;
}
.games{
    font-family: 'Indie Flower', cursive;
}

/* UserForm styling */
.form-container{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
/* UserForm alert message */
.ui.alertMssg {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}
.homecard {
    margin-top:10px;
    min-height: 45px;
}
.t-card {
    margin: 20px;
  
  }
  
  .t-card-image {
    border-radius: 10px;
    width: 480px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px #ccc;
    border: #4dfd4d double 18px;
    border-radius: 15px;
  }

  .t-card-image:hover {
    border-radius: 10px;
    width: 480px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px #ccc;
    border:#8673f5 double 18px;
    border-radius: 15px;
  }


  #tsparticles {
    position: fixed;
    height: 105vh;
    width: 110vw;
    z-index: -1;
  }

  #font-user {
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    font-weight: 900;
    color: coral;
  }
   #subtitle{
       font-size: 32px;
       color: blue;
   }
   #font-user ::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }
  #font-pg1 {
    font-family: 'Indie Flower', cursive;
    font-size:80px;
    font-weight: 900;
    color: rgb(248, 66, 105);
  }
   #subtitle1{
       font-size: 32px;
       color: rgb(76, 76, 209);
   }
   #font-pg1 ::first-letter {
    font-size: 200%;
    color: #06ad1c;
  }